<div>
  <p >Please enter the User Details</p>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <label for="name" >Name:&nbsp;&nbsp;&nbsp;&nbsp; </label>
    <input
      type="text"
      #name="ngModel"
      name="fisrtname"
      [(ngModel)]="fisrtname"
    /><br />
    <label for="name"
      >Address: &nbsp;&nbsp;&nbsp;&nbsp;
    </label>
    <input
      type="text"
      #name="ngModel"
      name="address"
      [(ngModel)]="address"
    /><br />
    <label for="name">Mobile:&nbsp;&nbsp;&nbsp;&nbsp; </label>
    <input
      type="text"
      #name="ngModel"
      name="mobile"
      [(ngModel)]="mobile"
    /><br />
    <label for="name" >Email:&nbsp;&nbsp;&nbsp;&nbsp; </label>
    <input type="text" #name="ngModel" name="email" [(ngModel)]="email" /><br />
    <button 
      style="color: green;font-family: cursive;left:200px;top:10px;position: relative;"
      type="submit"
    >
      Submit
    </button>
    <button routerLink="/products" style="color: green;font-family: cursive;left:200px;top:10px;position: relative;"
    type="next">Next</button>
  </form>
</div>
