input {
  align-items: center;
  padding: 3px;
  margin: 10px;
}
label {
  align-items: center;
  padding-left: 25%;
  padding-top: 10px;
  font-family: fantasy;
}
p {
  text-align: center;
  font-family: fantasy;
  font-size: x-large;
  padding: 3px;
}
