.head{
  text-align: center;
  font-family: fantasy;
  font-size: x-large;
  width: 300px;
  border: 3px solid #04AA6D;
  padding: 10px;
  margin: 20px;
  background-color: rgba(18, 194, 135, 0.795);
}
.details{
  padding: 5px;
  border: 2px solid #04AA6D;
  font-family: monospace;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  font-weight: bold;
  
}