.list {
  padding-left: 25%;
  padding-right: 50%;
}

option {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 3px;
  align-items: center;
}
.head1 {
  font-family: fantasy;
  text-align: center;
  font-size: x-large;
}
button {
  padding: 3px;
}

